body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #B7E1F9;
    color: #6A707B;
    height: 100vh;
}

.logo {
    padding: 10px 0 16px 20px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    height: 66px;
}

ul {
     list-style: none;
     display: flex;
}

ul a {
    text-decoration: none;
}

.nav {
    margin: 21px auto;
}

.nav li a {
    margin-right: 20px;
    font-size: 14px;
    color: #6A707B;
}

.content-wrapper {
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
    position: absolute;
    top: 254px;
    height: 371px;
    margin: 0 22px 0 18px;
    padding: 0 20px;
}

.heading {
    font-family: 'Libre Baskerville', serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 34px;
    color: #131821;
    margin: 30px 0 10px;
}

.subheading {
    width: 295px;
    line-height: 26px;
    margin-bottom: 20px;
}

.input {
    position: relative;
    display: inline-block;
    width: 100%;
    background: #FFF;
    border-left: 4px solid #4066A5;
}

input[type=email] {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 18px 49px 18px 19px;
    font-size: 17px;
    color: #6A707B;
    border: 1px solid #E3E3E4;
}

.arrow {
    position: absolute;
    top: 38%;
    right: 6%;
}

.tos {
    display: flex;
    margin-bottom: 10px;
}

.checkmark {
    position: absolute;
    left: 20px;
    top: 225px;
    background-color: #4066A5;
    border: 1px solid #E3E3E4;
    padding: 8px 6px;
    border-radius: 3px;
}

.text {
    font-size: 17px;
    margin-left: 45px;
}

.text a {
    color: #131821; 
}

.line {
    margin-top: -10px;
}

.social-media li {
    margin-right: 10px;
    margin-top: -5px;
    border: 2px solid #E3E3E4;
    height: 15px;
    width: 15px;
    padding: 15px;
    border-radius: 50%;
}

.social-media img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: unset;
}

