body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #B7E1F9;
    color: #6A707B;
    height: 100vh;
}

/* Global Styles 
================
*/

ul {
     list-style: none;
     display: flex;
}

ul a {
    text-decoration: none;
    color: #6A707B;
}

/* Typography 
=============
*/

body {
    font-family: 'Roboto', sans-serif;
}

.heading {
    font-family: 'Libre Baskerville', serif;
}

/* Header - Logo & Navbar 
=========================
*/

.top-bar {
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    width: 100%;
    height: 66px;
}

.logo {
    padding: 10px 0 16px 20px;
}

.nav {
    margin: 21px auto;
}

.nav li {
    margin-right: 20px;
    line-height: 24px;
}

.about {
    margin-right: -10px;
}

/* Main Content 
===============
*/

.content-wrapper {
    position: absolute;
    top: 255px;
    width: 295px;
    height: 371px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
    margin: 0 22px 0 18px;
    padding: 0 20px;
}

.heading {
    font-size: 22px;
    font-weight: normal;
    line-height: 34px;
    color: #131821;
    margin-top: 30px;
    margin-bottom: 10px;
}

.subheading {
    width: 295px;
    line-height: 26px;
    margin-bottom: 20px;
}

.input {
    position: relative;
} 

.input input {
    box-sizing: border-box;
    width: 100%;
    height: 60px;;
    padding: 18px 0 18px 19px;
    color: #6A707B;
    font-size: 16px;
    border: 1px solid #E3E3E4;
    border-left: 4px solid #4066A5;
}

.input .arrow-icon {
    position: absolute;
    top: 23px;
    right: 13px;
}

.input input:hover, .input input:focus {
    box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06)
}

.input input:hover {
  border: 1px solid #4066A5;
  border-left: 4px solid #4066A5;
}

.tos {
    display: flex;
    margin: 20px;
}

.checkmark {
    position: absolute;
    left: 20px;
    top: 227px;
    border: 1px solid #E3E3E4;
    background: #FFF;
    padding: 8px 6px;
    box-sizing: border-box;
    border-radius: 3px;
}

.checkmark:active {
    background-color: #4066A5;
}

.tos-text {
    font-size: 17px;
    margin-left: 25px;
    margin-top: 0;
}

.tos-text a {
    color: #131821; 
}

.tos-text a:hover {
    color: #4066A5;
}

.tos-text a:active {
    color: #233759;
}

.line {
    margin-top: -15px;
    margin-bottom: 20px;
}

/* Social Media Icons 
=====================
*/

.social-media ul {
    list-style-type: none;
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
}

.social-media ul li {
    cursor: pointer;
    min-width: 46px;
    min-height: 46px;
    border: 2px solid #E3E3E4;
    border-radius: 50%;
    color:  #131821;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    transition: .5s ease;
    margin: -10px 10px 30px 0;
}
.social-media li:hover, 
.social-media li:hover a, 
.social-media li:active,
.social-media li:active a {
    color: #FFF;
    opacity: 1;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.social-media ul .facebook:hover {
    background-color: #4267B2;
}

.social-media ul .facebook:active {
    background-color:  #2F4A80; 
}

.social-media ul .insta:hover {
    background-color: #E1306C;
}

.social-media ul .insta:active {
    background-color: #8F2762;
}

.social-media ul .twitter:hover {
    background-color: #1DA1F2;
}

.social-media ul .twitter:active {
    background-color:  #177FBF; 
}

.social-media ul .youtube:hover {
    background-color: #FF0000;
}

.social-media ul .youtube:active {
    background-color: #CC0000;
}

/* Media Queries 
================
*/

@media (min-width: 411px) {
    .wrapper {
        display: flex;
        justify-content: center;
    }
    .logo {
        padding-left: 20px;
    }
    .nav {
        margin: 25px auto;
    }
    .nav li {
        margin-right: 15px;
        margin-bottom: 5px;
    }
    .social-media li {
        margin-right: 10px;
        margin-top: -10px;
    }
}
@media (min-width: 481px) {
    .logo {
        padding-left: 20px;
    }
    nav li {
        margin-right: 20px;
    }
} 

@media (min-width: 768px) {
    .col-left {
        left: 35%;
        width: 40%;
    }
    .top-bar {
        height: 90px;
    }
    .logo {
        padding-left: 30px;
        margin-top: 13px;
    }
    .nav li {
        margin-right: 30px;
        margin-top: 15px;
        font-size: 15px;
    }
    .subheading {
        width: 90%;
    }
    .line, .social-media {
        display: flex;
        justify-content: center;
        margin-top: -15px;
    }
    .social-media li {
        margin-right: 20px;
    }
}

@media (min-width: 1024px) {
    .col-left {
        width: 43%;
        height: 45%;
        padding-left: 45px;
    }
    .subheading {
        width: 80%;
    }
    .input {
        width: 95%;
    }
    .checkmark {
        margin-top: 3px;
        left: 45px;
    }
    .tos-text {
        margin-left: 20px;
        margin-top: 5px;
    }
    .social-media, .line {
        display: flex;
        justify-content: center;
    }
    .social-media li {
        margin-top: 10px;
        margin-right: 30px;
    }
}

@media (min-width: 1200px) {
    body {
        background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
        height: 100%;
    }
    .col-left {
        width: 50%;
        position: unset;
        background: unset;
        margin-top: 374px;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .col-right {
        order: 1;
        width: 50%;
    }
    .top-bar {
        position: absolute;
        top: -3%;
        left: 0;
        width: 50%;
        margin-top: 100px;
        background: unset;
    }
    .logo {
        margin-left: 0;
        padding-left: 52px;
    }
    .nav li a {
        margin-right: 20px;
    }
    .heading {
        font-size: 29px;
        line-height: 44px;
        margin-top: 0;
        padding-left: 140px;
    }
    .subheading {
        font-size: 17px;
        line-height: 28px;
        width: 65%;
        padding-left: 140px;
        margin-bottom: 50px;
    }
    .input {
        width: 578px; 
        padding-left: 100px;
        margin-left: 100px;
        margin-top: 40px;
    }
    .input input {
        width: 100%;
        height: 70px;
        padding-left: 40px;
        margin-left: -100px;
    }
    .input .arrow-icon {
        position: absolute;
        top: 28px;
        right: 132px;
    }
    .checkmark {
        position: absolute;
        top: 662px;
        left: 145px;
    }
    .tos {
        margin-top: 50px;
    }
    .tos-text {
        margin: 10px 0 43px 165px;
    }
    .line {
        margin-left: 195px;
        margin-top: -25px;
        width: 50%;
    }
    .social-media {
        margin-top: 40px;
    }
}  

@media (min-width: 1440px) {
    .logo {
        padding-left: 100px;
    }
    .nav {
        padding-right: 70px;
    }
    .nav li {
        margin-right: 30px;
    }
    .subheading {
        width: 60%;
    }
    .input {
        width: 690px; 
    }
    .line {
        margin-left: 140px;
        justify-content: flex-start;
        width: 100%;
    }
    .social-media {
        margin-left: -30px;
    }
    .social-media li {
        margin-right: 25px;
    }
}

@media (min-width: 1820px) {
    .subheading {
        margin-bottom: 75px;
    }
}

@media (min-width: 1920px) {
    .col-left, .top-bar {
        width: 680px;
    }
    .col-right {
        width: 1240px;
    }
    .logo {
        padding-left: 90px;
     }
    .about {
      margin-right: 0;
    }
    .nav li {
        margin-right: 10px;
    }
     .input {
        width: 663px;
        margin-top: -20px;
    }
    .checkmark {
        top: 670px;
        left: 135px;
    }
    .tos {
        margin-top: 53px;
        margin-bottom: 10px;
    }
    .social-media {
        position: absolute;
        left: 218px;
        margin-top: 20px;
    }
}